.gw-wrapper {
    display: block;
    float: left;
    outline: medium solid rgb(0, 255, 0);
}

.gw-input {
    border-style: none; 
    border-color: Transparent;
    width: 7px;
    resize: none;
    float: left;
    display: block;
    padding: 0px;
    margin: 0px;
    white-space: pre;
    text-align: center;
}

.gw-input:focus {
    outline-width: 0;
}

.gw-input-fake {
    display: none;
}
